html, body {
    font-size: 16px;
    font-family: monospace;
    background: #121212;
    color: #00FF66;
    line-height: 1.25;
}

a {
    color: #ACFFBD;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

#code {
    background: #1c1c1c;
    color: #FF8C00;
}

#block {
    margin: auto;
    max-width: 640px;
}
